* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    padding: 0px 5px 5px 5px;
    background-color: #f0f2f5;
    color: #1c1e21;
    line-height: 1.5;
}
#check {
    display: none;
}
.ad-mobile {
    display: none;
}


/*/////////////// Header Style ///////////////////*/
.sticky-header {
    top: 0px;
    position: sticky;
    width: 100%;
    z-index: 1300;
}
.header-top {
    display: flex;
    background-color: #198754;
    padding: 10px 5px;
    height: auto;
    border-bottom: 1px solid #7c7f83af;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: center;
}
#check-btn {
    color: white;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    width: 10%;
    transition: all .5s;
    display: none;
}
#check-btn:hover {
    color: red;
}

#header-title {
    color: white;
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
}
ul.location-selector-container {
    text-align: center;
    background-color: #414449;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
#location-selector {
    list-style-type: none;
    padding: 0; display: flex;
}
#location-search, #location-select {
    width: 100%;
    box-sizing: border-box;
    padding: 2px 10px;
    font-size: 1.1em;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#location-search {
    font-size: 1em;
    margin-left: 2px;
}
#location-select {
    margin-right: 2px;
}


/*/////////////// Main Style ///////////////////*/
.container {
    width: 100%;
}
.main-container {
    display: flex;
}


/*/////////////// Col-1 Style ///////////////////*/
.col-1 {
    width: 20%;
}
ul.sidebar {
    bottom: 0px;
    left: 5px;
    height: 84%;
    position: fixed;
    overflow-y: auto;
    width: 20%;
    background-color: #198754;
    padding: 10px;
    border-right: 1px solid white;
    transition: all .5s;
}
ul.sidebar li {
    list-style: none;
    border-bottom: 1px solid #566860;
    line-height: 40px;
}
ul.sidebar  li a {
    padding: 10px 5px;
    color: white;
    transition: all .5s;
}
ul.sidebar  li a:hover {
    padding-left: 15px;
    color: red;
}

.sidebar-header {
    font-size: 25px;
    color: white;
    padding-bottom: 10px;
    margin-left: 15px;
}
#cancel {
    padding: 10px 15px;
    right: 0px;
    top: 0px;
    position: absolute;
    transition: all .5s;
    display: none;
    cursor: pointer;
}
#cancel:hover {
    color: red;
}


/*/////////////// Col-2 Style ///////////////////*/
.col-2 {
    width: 60%;
}
#current-day-date-and-time {
    background-color: #198754;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}
#current-date, #current-time {
    margin-left: 20px;
}
.label {
    font-size: 1.1em;
    color: #242629;
    margin-bottom: 5px;
    font-weight: 500;
}
div.display-box {
    border: 1px solid #198754;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.time-header {
    margin: 0 0 5px 0;
    font-size: 1.4em;
    font-weight: 600;
}
.time {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
}
#current, #next {
    color: #198754;
    background-color: #31a06c31;
    border-left: 5px solid #198754;
}

/* --- NEW: Styles for the Monthly Chart --- */
h2.monthly-chart-header {
    color: #242629;
    margin-bottom: 5px;
}
#monthly-chart-header {
    color: rgb(223, 34, 34);
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 5px solid #198754;
    font-size: 0.9em;
}
th, td {
    border: 1px solid #ddd;
    padding: 2px 1px;
    text-align: center;
}
th {
    color: white;
    background-color: #198754;
    font-size: 15px;
    font-weight: 600;
}
/* tr:nth-child(even) {
    background-color: #f9f9f9;
} */
td.date {
    color: white;
    background-color: #198754;
    font-weight: bold;
}
td.fazr {
    background-color: #1a0fb45d;
}
td.sunrise {
    background-color: #f0bc127a;
}
td.zuhr {
    background-color: #19875456;
}
td.asr {
    background-color: #0057b35d;
}
td.magrib {
    background-color: #ce1f135d;
}
td.isha {
    background-color: #e61a8a67;
}



/*/////////////// Col-3 Style ///////////////////*/
.col-3 {
    width: 160px;
    top: 45px;
    right: 5px;
    position: fixed;
    height: 100vh;
}


/*/////////////// Footer Style ///////////////////*/
.footer-container {
    display: flex;
}
.footer-col-1 {
    width: 20%;
}
.footer-col-2 {
    width: 60%;
}
.footer-col-2-container {
    padding: 10px 20px;
    background-color: #414449;
}
.footer-items {
    display: inline-block;
    line-height: 30px;
}
.footer-items a {
    color: white;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    transition: all .5s;
}
.footer-items a:hover {
    background-color: #198754;
    transition: all .5s;
}
.footer-col-3 {
    width: 15%;
}



@media screen and (max-width: 800px) {
    #check-btn {
        display: block;
    }
    #cancel {
        display: block;
    }
    .ad-pc {
        display: none;
    }
    .ad-mobile {
        display: unset;
    }
    .main-container {
        display: block;
    }
    ul.sidebar {
        bottom: unset;
        top: 0px;
        left: -250px;
        height: 100vh;
        width: 250px;
        z-index: 1500;
        transition: all .5s;
    }
    #check:checked ~ ul.sidebar {
        left: 0px;
    }
    .col-2 {
        width: 100%;
    }
    .col-3 {
        display: none;
    }
    .footer-container {
        display: block;
    }
    .footer-col-1 {
        display: none;
    }
    .footer-col-2 {
        width: 100%;
    }
    .footer-col-3 {
        display: none;
    }
}